{\rtf1}

p {
  font-size: 2em;
}
body {
  background-color: white;
}
figure {
  display: flex;
  height:20%;
}
.headerbox {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}
.filler {
  width: 15%;
  height: 100%;
}
.flexdiv {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}
.flexbox-aboutus {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  order: 4;
  background-color: blue;
}
.rightside-aboutus {
  width: 85%;
  height: 100%;
}
.leftside-aboutus {
  width: 15%;
  height: 100%;
}
.icon {
  height: 3em;
  width: 3em;
}
.mobilepic {
  height: 10em;
  width: auto;
}
.site-head {
  justify-content:center;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  width: 85%;
  height: 100%;
  color: black;
  overflow: auto;
  order: 2;
}
.site-leftsidebar {
  color: blue;
  width: 15%;
  height: 90%;
  color: blue;
  order: 1;
}
.site-rightside {
  width: 85%;
  height: 90%;
  order: 3;

}
#headertext {
  align-items: center;
  color: red;
}
#list {
  text-align: left;
}
@media screen and (max-aspect-ratio: 1/1 ) {
  .flexdiv {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .site-leftsidebar {
    justify-content:center;
    align-items: baseline;
    display: flex;
    width: 100%;
    height: 10%;
    overflow: auto;
  }
  .site-rightside {
    width: 100%;
    height: 65%;
  }
  .filler {
    display: none;
  }
  .site-head {
    width: 100%;
  }
  .flexbox-aboutus {
    flex-direction: column;
    justify-content:center;
    align-items: baseline;
  }
  .rightside-aboutus {
    width: 100%;
    height: 90%;
  }
  .leftside-aboutus {
    justify-content:center;
    align-items: baseline;
    display: flex;
    width: 100%;
    height: 10%;
    overflow: auto;
  }
}
